<div xmlns:th="http://www.thymeleaf.org" th:fragment="modal" class="modal fade" id="confirmModal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">정말 삭제하시겠습니까?</div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" class="btn btn-sm btn-danger" id="confirmModalOk">삭제</button>
      </div>
    </div>
  </div>
</div>
